<html>
<head>
     <script src="angular.min.js">
     </script>
     <script src="app.js">
     </script>
</head>

<body  ng-app="shoppingListApp">
  <h1>Shopping Cart</h1>
   <div ng-controller="ShoppingListAddController as itemAddr">

     <h3>Add Items</h3>

       <input type="text" ng-model="itemAddr.inputName" placeholder="Enter Item Name"> <br>
       <input type="text" ng-model="itemAddr.inputQuantity" placeholder="Enter Item Quantity"><br>

       <button ng-click="itemAddr.itemAdd();">Add Items to Cart</button>

    </div>

    <div ng-controller="ShoppingListViewController as showList">

       <ol>
         <li ng-repeat="item in showList.items">
            {{ item.quantity }} of {{ item.name }}
            <button type="button" ng-click="showList.removeItem($index)">Remove Item</button>
         </li>
       </ol>

     </div>
</body>
</html>
